<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客首页</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/article.css">
    <script src="/stylesheets/bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
    <script src="/stylesheets/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body style="background-color: rgb(245,245,245)">
<div id="footer">
    <img src="/images/1.png" alt="">
    <span>联系方式</span>
    <ul>
        <li>主页</li>
        <li>文章推荐</li>
        <li>个人中心</li>
    </ul>
    <hr id="hr">
    <div id="f1"></div>
    <div id="foot">
        <div id="f2">
            个人微信号：Liyan_1987
            <br>
            邮箱：Liyan@163.com
            <br>
            微博：新浪微博@李艳
            <br>
        </div>
        <div id="f3">
            <img src="/images/654513.jpg" alt="">
            <div id="i1">
            <span> KaoLive品牌设计过程大揭秘
                |BRAND DESIGN
                <br>
                <span>2018-01-08 09:43:11 网络</span>
            </span>
            </div>
            <div id="i2">
        <span>
            Copyright &copy;2016 融智教育ww-w.irzedu.com 版权所有 京ICP17021661号Powered by LuterCMS
        </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>